#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100vh;
}
a {
  text-decoration: none;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.homeLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Ensures the items wrap to the next line if there is not enough space */
  width: 100%;
  margin-top: 5px; /* Add some spacing from the top */
}
.homeLink {
  width: 250px; /* Fixed width for each item */
  height: 250px; /* Fixed height for each item */
  margin: 5px; /* Margin between items */
  display: flex; /* Center the content inside each item */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center;
  color: white;
  text-shadow: 1px 1px black;
  font-size: xx-large;
  background-size: cover;
  background-position: center;
  cursor: pointer; /* Add a pointer cursor to indicate it's clickable */
  transition: transform 0.2s ease;
}
.homeLink:hover {
  transform: scale(1.05); /* Slightly scale up on hover for effect */
}
.wordContainer {
  width: 100%;
}
.main {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  display: flex;
  justify-content: spaceBetween;
  flex-direction: column;
  flex: center;
  width: 100%;
}
.signupLogin {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.signLogForm {
  width: 50%;
  margin: 30px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.profilePage {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.userProfile {
  width: 50%;
  height: 80%;
  margin: 20px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
}
.userAdditions {
  width: 50%;
  height: 80%;
  margin: 20px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border: 2px solid black;
}
.wordsList {
  width: 90%;
  list-style: none;
  overflow-y: scroll;
}
.listWord {
  margin: 10px;
  padding: 5px;
  border: 1px solid black;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wordInfo {
  margin: 20px;
  padding: 5px;
  width: 50%;
}
.wordButton {
  margin: 20px;
  padding: 5px;
  width: 50%;
  cursor: pointer;
}
.carousel {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80%;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .homeLink {
    width: 200px; /* Reduce width on smaller screens */
    height: 200px; /* Adjust height accordingly */
  }
  .wordContainer {
    width: 100%;
  }
  .wordbutton {
    width: 100px;
  }
}
